/* 公共样式 */
@import "common.scss";
/* 公共变量 */
$mainColor: #0cc0a1;
@mixin align($align:center) { text-align: $align;}
.display-box {
	display: flex
}
.box-flex {
	flex: 1
}
.box-siz {
	box-sizing: border-box
}
.over-ell {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
body{height:100%;color:#000;font-size:14px;}
a{color:#626262;}
.cf{zoom:1}.cf:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden}
.fl{float:left;}
.fr{float:right;}
.domeBlack{position:fixed;top:0;left:0;right:0;bottom:0;z-index:2002;background:rgba(0,0,0,0.6);display:none}

.m-header-cell { 
	height: 45px; 
	line-height: 45px; 
	color: #fff; 
	background-color: $mainColor; 
	padding: 0 10px;
	a {
		color: #fff;
	}
}
.m-h-icon{ 
	.icon-aui-icon-left { 
		font-size: 18px;
	}
}
.m-h-title { 
	@include align(center);	
 	font-size: 16px;
 }
.m-h-city { border: 1px solid #fff; padding: 2px 7px; border-radius: 13px;}
.icon-aui-icon-down { font-size: 12px; padding-left: 3px;}
.icon-kefu-copy { font-size: 20px; padding-right: 3px;}
.m-nav-cell { 
	height: 42px; 
	line-height: 42px; 
	@include align(center);
	a {
		display: inline-block; 
		height: 42px; 
		font-size: 15px; 
		color: #333; 
		padding: 0 10px;
	}
	a.main-color { 
		color: $mainColor; 
		height: 41px; 
		border-bottom: 1px solid $mainColor;
	}
}
.m-nav-line { 
	display: inline-block; 
	width: 1px; 
	height: 22px; 
	margin: 10px; 
	background-color: #dcdcdc; 
	vertical-align: -16px;
	transform-origin:0 0;
	transform:scaleX(0.5)
}

/*popup样式*/
.popup-msg{
	padding:10px 15px;
	border-radius:5px;
	background-color:rgba(0,0,0,0.8);
	font-size:13px;
	color:#fff;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}